# Project - Amazon_jobs_data

---

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")
from konlpy.tag import Twitter
import lightgbm as lgb

In [3]:
jobs_df = pd.read_csv("amazon_jobs_dataset.csv")

In [4]:
jobs_df.shape

(3493, 7)

In [5]:
jobs_df = jobs_df.dropna()

In [6]:
jobs_df.shape

(3484, 7)

In [7]:
jobs_df.tail()

,Unnamed: 0,Title,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS
3488,3488,Software Engineer,"US, NV, Las Vegas","August 29, 2012",What are you currently doing? We’re building a...,· 5+ years production Java software developmen...,· 7+ years Java software development in a prod...
3489,3489,Software Development Engineer,"US, WA, Seattle","April 23, 2012",At Amazon Voice and Advanced Natural Shopping ...,* Bachelor’s Degree in Computer Science or rel...,* Experience building complex software systems...
3490,3490,Software Development Engineer III - Mar. BR 2012,"US, WA, Seattle","March 6, 2012",Employer: Amazon Corporate LLCPosition: Softwa...,Basic Qualifications:Education: Master’s degre...,-
3491,3491,Software Development Engineer in Test II - IMM546,"US, WA, Seattle","November 28, 2011",POSITIONS AVAILABLECompany: Amazon Corporate L...,-,-
3492,3492,Software Development Engineer in Test,"US, WA, Seattle","July 7, 2011",Kindle and Amazon are impacting the world with...,"· Bachelor’s degree in Computer Science, Compu...",· Experience with open source tools and resour...

In [8]:
cat = []
for idx, con in enumerate(jobs_df['Title'].unique()):
    cat.append(con)

In [9]:
cats = pd.DataFrame(cat , columns=["job"])

In [10]:
cats['category'] = cats.index + 1

In [11]:
A_jobs_df = pd.merge(jobs_df, cats, left_on="Title", right_on="job", how='left')

In [12]:
A_jobs_df = A_jobs_df.drop('Title', axis=1)

In [13]:
A_jobs_df.tail()

,Unnamed: 0,location,Posting_date,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS,job,category
3479,3488,"US, NV, Las Vegas","August 29, 2012",What are you currently doing? We’re building a...,· 5+ years production Java software developmen...,· 7+ years Java software development in a prod...,Software Engineer,132
3480,3489,"US, WA, Seattle","April 23, 2012",At Amazon Voice and Advanced Natural Shopping ...,* Bachelor’s Degree in Computer Science or rel...,* Experience building complex software systems...,Software Development Engineer,2
3481,3490,"US, WA, Seattle","March 6, 2012",Employer: Amazon Corporate LLCPosition: Softwa...,Basic Qualifications:Education: Master’s degre...,-,Software Development Engineer III - Mar. BR 2012,1554
3482,3491,"US, WA, Seattle","November 28, 2011",POSITIONS AVAILABLECompany: Amazon Corporate L...,-,-,Software Development Engineer in Test II - IMM546,1555
3483,3492,"US, WA, Seattle","July 7, 2011",Kindle and Amazon are impacting the world with...,"· Bachelor’s degree in Computer Science, Compu...",· Experience with open source tools and resour...,Software Development Engineer in Test,161

In [14]:
A_jobs_df.isnull().sum()

Unnamed: 0                  0
location                    0
Posting_date                0
DESCRIPTION                 0
BASIC QUALIFICATIONS        0
PREFERRED QUALIFICATIONS    0
job                         0
category                    0
dtype: int64

In [15]:
A_jobs_df['job'].value_counts()

Software Development Engineer                                              695
Software Development Manager                                               122
Senior Software Development Engineer                                       114
Sr. Software Development Engineer                                           58
Software Development Engineer                                               56
Software Development Engineer II                                            50
Web Development Engineer                                                    20
Software Development Engineer, Amazon Alexa                                 18
Senior Software Engineer                                                    18
Software Development Engineer II - Alexa Deep Product Knowledge             17
Software Development Engineer – In-Memory Distributed Systems               13
Sr Software Development Engineer                                            12
Software Development Engineer (Fullstack)                                   12
Software Development Engineer, Speech and Language Technologies             12
Software Engineer                                                           12
Senior Software Development Engineer                                        11
Software Development Engineer – Alexa Machine Learning Platform             10
Manager, Software Development                                               10
Senior Software Development Engineer, AWS                                    9
Sr. Software Development Engineer                                            9
Software Development Engineer, Alexa                                         9
Software Development Engineer - CloudWatch                                   8
Quality Assurance Engineer                                                   8
Software Development Engineer - AWS Elastic Block Store (EBS)                7
System Development Engineer                                                  7
Sr. Manager, Software Development                                            7
Software Development Engineer - Alexa Voice Service                          7
Software Dev Engineer, EC2 Security                                          7
Senior Manager, Software Development                                         7
SDE - Alexa Engine                                                           6
                                                                          ...
Software Development Engineer, RDS, Boston                                   1
Sr.Manager, SW Development - Alexa Mobile Platform                           1
SDE Pooling - Retail System International events                             1
Software Development Manager, Alexa Machine Learning                         1
Manager, Software Development - Amazon API                                   1
Lead Software Development Engineer - Special Event                           1
Software Development Engineer-Android                                        1
Blitz Seattle Oct Pooling req - SDEII-  ASCS                                 1
Sr. Software Development Engineer - Alexa Smart Home/IoT                     1
Software Engineer, AWS Identity and Access Management                        1
Full-Stack Software Development Engineer - AWS                               1
Applied Scientist- Audio                                                     1
Salesforce Development Engineer                                              1
Software Development Engineer - Real Time (Amazon Music)                     1
Software Dev Manager, Alexa for Business                                     1
Sr. Software Development Engineer,  Alexa Platform                           1
Amazon Video, Encoding - Software Development Manager                        1
Windows and Mac/Xamarin Software Engineer - Amazon Drive                     1
Web Developer AFU                                                            1
Sr Manager, Border Backbone Network Engineering - AWS Infrastructure         1
Sr. Software Development Engineer - AWS EC2 Elastic Block Store (EBS)        1
Senior Software Development Engineer, AWS Lambda                             1
Software Engineer, Alexa for Business                                        1
Software Dev Engineer - Full Stack / Java Services                           1
Senior SDE, Systems Intelligence                                             1
Tools Engineer, Amazon Game Studios                                          1
Software Development Manager, Alexa                                          1
Senior Full Stack Developer (Team Lead)                                      1
Software Development Engineer - Alexa Voice Service                          1
Software Development Manager (Traffic Engineering/DC Control Plane/SDN)      1
Name: job, Length: 1555, dtype: int64

In [16]:
A_jobs_df['category'].value_counts()

2       695
1       122
95      114
53       58
5        56
50       50
44       20
239      18
135      18
671      17
46       13
132      12
519      12
348      12
621      12
126      11
7        10
117      10
80        9
571       9
139       9
641       8
4         8
61        7
628       7
527       7
515       7
762       7
455       7
284       6
       ...
485       1
487       1
489       1
495       1
499       1
501       1
503       1
511       1
449       1
443       1
395       1
441       1
397       1
399       1
401       1
403       1
405       1
407       1
409       1
411       1
415       1
417       1
419       1
421       1
423       1
425       1
429       1
435       1
437       1
1555      1
Name: category, Length: 1555, dtype: int64

In [17]:
A_jobs_df = A_jobs_df[A_jobs_df['category'].isin(['2','1','95'])]

In [18]:
A_jobs_df = A_jobs_df.drop(["Unnamed: 0", 'location', 'Posting_date'], axis=1)

In [19]:
A_jobs_df = A_jobs_df.reset_index(drop=True)

In [20]:
A_jobs_df.tail()

,DESCRIPTION,BASIC QUALIFICATIONS,PREFERRED QUALIFICATIONS,job,category
926,"You: “Alexa, I’m looking for a job where I can...",You have industry-leading technical abilities....,· Excellent design skills with a proven abilit...,Software Development Engineer,2
927,Are you seeking a startup environment where yo...,· Master's Degree in Computer Science or relat...,"· Experience in leading engineering team, coac...",Software Development Manager,1
928,Do you want to be involved in one of Amazon’s ...,"· BS in Computer Science, Computer or Electric...","· MS in Computer Science, Computer/Electrical ...",Software Development Engineer,2
929,The Digital Store Platform team (DSP) creates ...,· Bachelor’s Degree in Computer Science or rel...,· Computer Science fundamentals in algorithm d...,Software Development Engineer,2
930,At Amazon Voice and Advanced Natural Shopping ...,* Bachelor’s Degree in Computer Science or rel...,* Experience building complex software systems...,Software Development Engineer,2

---

In [21]:
X_train_D, X_test_D, y_train_D, y_test_D = train_test_split(A_jobs_df['DESCRIPTION'], A_jobs_df.category, \
                                                    test_size=0.2, random_state=0)

len(X_train_D),len(X_test_D),len(y_train_D),len(y_test_D)

(744, 187, 744, 187)

In [22]:
X_train_B, X_test_B, y_train_B, y_test_B = train_test_split(A_jobs_df['BASIC QUALIFICATIONS'], A_jobs_df.category, \
                                                    test_size=0.2, random_state=0)

len(X_train_B),len(X_test_B),len(y_train_B),len(y_test_B)

(744, 187, 744, 187)

In [23]:
X_train_P, X_test_P, y_train_P, y_test_P = train_test_split(A_jobs_df['PREFERRED QUALIFICATIONS'], A_jobs_df.category, \
                                                    test_size=0.2, random_state=0)

len(X_train_P),len(X_test_P),len(y_train_P),len(y_test_P)

(744, 187, 744, 187)

---

In [24]:
from konlpy.tag import Twitter
pos_tagger = Twitter()

def tokenize_pos(doc):
    return ['/'.join(t) for t in pos_tagger.pos(doc, norm=True, stem=True)]

In [25]:
clf = Pipeline([
    ("vect", TfidfVectorizer(tokenizer=tokenize_pos, ngram_range=(1,3), \
                             stop_words=["and", "is", "the", "this", "-", ".", "·"])), 
    ("clf", MultinomialNB(alpha=0.05))
])

---

In [26]:
model_D = clf.fit(X_train_D, y_train_D)

In [27]:
y_pred_D = model_D.predict(X_test_D)

In [28]:
confusion_matrix(y_test_D, y_pred_D)

array([[  8,  10,   0],
       [  3, 132,  10],
       [  3,  16,   5]])

In [29]:
print(classification_report(y_test_D, y_pred_D))

             precision    recall  f1-score   support

          1       0.57      0.44      0.50        18
          2       0.84      0.91      0.87       145
         95       0.33      0.21      0.26        24

avg / total       0.75      0.78      0.76       187

In [30]:
accuracy_score(y_test_D, y_pred_D)

0.7754010695187166

---

In [31]:
model_B = clf.fit(X_train_B, y_train_B)

In [32]:
y_pred_B = model_B.predict(X_test_B)

In [33]:
confusion_matrix(y_test_B, y_pred_B)

array([[ 13,   5,   0],
       [  4, 128,  13],
       [  2,  14,   8]])

In [34]:
print(classification_report(y_test_B, y_pred_B))

             precision    recall  f1-score   support

          1       0.68      0.72      0.70        18
          2       0.87      0.88      0.88       145
         95       0.38      0.33      0.36        24

avg / total       0.79      0.80      0.79       187

In [35]:
accuracy_score(y_test_B, y_pred_B)

0.7967914438502673

---

In [36]:
model_P = clf.fit(X_train_P, y_train_P)

In [37]:
y_pred_P = model_P.predict(X_test_P)

In [38]:
confusion_matrix(y_test_P, y_pred_P)

array([[  6,  12,   0],
       [  8, 128,   9],
       [  3,  14,   7]])

In [39]:
print(classification_report(y_test_P, y_pred_P))

             precision    recall  f1-score   support

          1       0.35      0.33      0.34        18
          2       0.83      0.88      0.86       145
         95       0.44      0.29      0.35        24

avg / total       0.73      0.75      0.74       187

In [40]:
accuracy_score(y_test_P, y_pred_P)

0.7540106951871658

종합 결과 필요 or Performance가 가장 좋은 feature를 선택.

---

In [41]:
vect = CountVectorizer()
vect.fit(A_jobs_df['DESCRIPTION'])
vect.vocabulary_

{'you': 5740,
 'are': 387,
 'an': 304,
 'experienced': 1939,
 'hands': 2391,
 'on': 3536,
 'manager': 3136,
 'with': 5683,
 'background': 511,
 'in': 2605,
 'developing': 1455,
 'and': 313,
 'delivering': 1379,
 'software': 4794,
 'that': 5185,
 'simplifies': 4722,
 'solutions': 4800,
 'for': 2144,
 'broad': 693,
 'set': 4652,
 'of': 3515,
 'related': 4283,
 'problems': 3977,
 'have': 2417,
 'strong': 4978,
 'technical': 5138,
 'ability': 80,
 'great': 2341,
 'communication': 1020,
 'skills': 4752,
 'know': 2905,
 'how': 2502,
 'to': 5262,
 'inspire': 2702,
 'your': 5744,
 'team': 5126,
 'achieve': 124,
 'outstanding': 3632,
 'results': 4393,
 'fast': 2023,
 'paced': 3654,
 'environment': 1820,
 'track': 5302,
 'record': 4230,
 'building': 720,
 'leading': 2970,
 'teams': 5131,
 'talented': 5106,
 'engineers': 1775,
 'enjoy': 1786,
 'working': 5703,
 'smart': 4768,
 'people': 3738,
 'short': 4690,
 'skilled': 4751,
 'leader': 2967,
 'capable': 776,
 'getting': 2288,
 'things': 5204,
 'done': 1574,
 'customers': 1296,
 'if': 2556,
 'it': 2831,
 'sounds': 4820,
 'like': 3020,
 'then': 5192,
 'read': 4186,
 'as': 405,
 'one': 3540,
 'the': 5187,
 'largest': 2942,
 'companies': 1027,
 'cloud': 929,
 'computing': 1074,
 'space': 4828,
 'across': 133,
 'world': 5709,
 'amazon': 275,
 'web': 5620,
 'services': 4645,
 'aws': 502,
 'offers': 3522,
 'dozens': 1587,
 'processes': 3984,
 'billions': 616,
 'usage': 5473,
 'records': 4232,
 'over': 3635,
 'past': 3704,
 '10': 4,
 'years': 5736,
 'has': 2413,
 'become': 560,
 'known': 2911,
 'globe': 2308,
 'most': 3344,
 'trusted': 5370,
 'company': 1029,
 'internet': 2767,
 'systems': 5086,
 'we': 5614,
 'build': 716,
 'interpret': 2769,
 'process': 3982,
 'very': 5536,
 'high': 2454,
 'volume': 5576,
 'stream': 4958,
 'events': 1867,
 'often': 3531,
 'bundled': 728,
 'low': 3083,
 'latency': 2947,
 'real': 4193,
 'time': 5248,
 'analysis': 306,
 'enable': 1743,
 'security': 4602,
 'fraud': 2181,
 'detection': 1443,
 'bill': 613,
 'generation': 2273,
 'manages': 3139,
 'computation': 1068,
 'engine': 1770,
 'responsible': 4384,
 'generating': 2272,
 'charges': 868,
 'every': 1870,
 'any': 331,
 'service': 4644,
 'meters': 3257,
 'by': 744,
 'customer': 1295,
 'makes': 3122,
 'its': 2841,
 'way': 5612,
 'our': 3621,
 'at': 438,
 'simplest': 4719,
 'level': 2997,
 'generates': 2271,
 'line': 3028,
 'items': 2833,
 'corresponding': 1217,
 'day': 1322,
 'hundreds': 2519,
 'millions': 3279,
 'is': 2825,
 'architected': 378,
 'us': 5470,
 'scale': 4528,
 'this': 5213,
 'computational': 1069,
 'load': 3046,
 'grow': 2355,
 'rapidly': 4166,
 'growing': 2356,
 'business': 731,
 'there': 5197,
 'numerous': 3487,
 'highly': 2459,
 'varied': 5508,
 'scenarios': 4535,
 'handles': 2389,
 'common': 1016,
 'tiering': 5243,
 'charging': 869,
 'different': 1477,
 'rates': 4170,
 'based': 537,
 'these': 5200,
 'tiers': 5244,
 'may': 3198,
 'be': 554,
 'computed': 1071,
 'multiple': 3379,
 'dimensions': 1490,
 'geographical': 2280,
 'regions': 4266,
 'accounts': 119,
 'or': 3584,
 'key': 2889,
 'goals': 2313,
 'scalable': 4526,
 'general': 2267,
 'purpose': 4103,
 'multi': 3371,
 'dimensional': 1489,
 'counter': 1222,
 'mechanism': 3214,
 'enables': 1747,
 'support': 5042,
 'flexible': 2121,
 'pricing': 3947,
 'models': 3314,
 'another': 323,
 'goal': 2312,
 'make': 3120,
 'declarative': 1342,
 'want': 5596,
 'super': 5031,
 'easy': 1647,
 'sellers': 4621,
 'create': 1247,
 'complex': 1051,
 'plans': 3814,
 'minimal': 3287,
 'no': 3458,
 'code': 948,
 'changes': 859,
 'whatsoever': 5643,
 'responsibilities': 4382,
 'adopt': 181,
 'overall': 3636,
 'commerce': 1007,
 'platform': 3815,
 'define': 1357,
 'own': 3646,
 'future': 2235,
 'direction': 1497,
 'manage': 3127,
 'projects': 4033,
 'deliver': 1374,
 'commitments': 1013,
 'activities': 142,
 'engineering': 1773,
 'using': 5482,
 'agile': 226,
 'scrum': 4565,
 'methodology': 3260,
 'resources': 4373,
 'hire': 2463,
 'mentor': 3234,
 'work': 5695,
 'closely': 924,
 'architect': 377,
 'develop': 1450,
 'best': 597,
 'report': 4340,
 'status': 4926,
 'development': 1456,
 'quality': 4124,
 'operations': 3564,
 'system': 5085,
 'performance': 3746,
 'management': 3130,
 'driven': 1599,
 'being': 575,
 'centric': 833,
 'health': 2429,
 'safety': 4494,
 'sustainability': 5062,
 'compliance': 1055,
 'hs3c': 2505,
 'organization': 3600,
 'ensuring': 1797,
 'all': 256,
 'products': 4005,
 '100': 5,
 'complaint': 1046,
 'legal': 2987,
 'trade': 5305,
 'product': 3995,
 'food': 2142,
 'requirements': 4353,
 're': 4179,
 'obsessed': 3501,
 'workers': 5699,
 'creating': 1250,
 'class': 902,
 'experience': 1938,
 'vendors': 5521,
 'wide': 5661,
 'inventing': 2791,
 'regulatory': 4275,
 'safe': 4489,
 'sustainable': 5063,
 'supply': 5041,
 'chains': 845,
 'industries': 2647,
 'engineer': 1771,
 'will': 5669,
 'data': 1308,
 'test': 5173,
 'invent': 2789,
 'design': 1422,
 'stable': 4892,
 'performant': 3747,
 'internal': 2762,
 'balance': 519,
 'help': 2442,
 'evolve': 1875,
 'latest': 2950,
 'industry': 2648,
 'technologies': 5145,
 'stop': 4939,
 'authoritative': 471,
 'ecosystem': 1666,
 'keeping': 2884,
 'compliant': 1056,
 'everything': 1873,
 'need': 3419,
 'collaborate': 970,
 'leaders': 2968,
 'partner': 3693,
 'social': 4787,
 'responsibility': 4383,
 'packaging': 3658,
 'optimization': 3576,
 'each': 1630,
 'person': 3762,
 'buying': 742,
 'selling': 4622,
 'handling': 2390,
 'difference': 1476,
 'hard': 2399,
 'having': 2419,
 'fun': 2218,
 'making': 3123,
 'history': 2469,
 'critical': 1263,
 'components': 1060,
 'distributed': 1540,
 'junior': 2875,
 'interface': 2758,
 'leadership': 2969,
 'inform': 2659,
 'understand': 5416,
 'priorities': 3962,
 'take': 5099,
 'ambiguous': 289,
 'articulate': 401,
 'serve': 4639,
 'broader': 696,
 'long': 3062,
 'term': 5170,
 'strategies': 4954,
 'chain': 844,
 'prime': 3952,
 'video': 5544,
 'changing': 860,
 'interact': 2744,
 'content': 1150,
 'delivers': 1380,
 'instant': 2710,
 'through': 5232,
 'subscriptions': 5002,
 'purchases': 4100,
 'rentals': 4324,
 'believes': 580,
 'so': 4784,
 'deeply': 1351,
 'mission': 3298,
 've': 5516,
 'launched': 2955,
 'studio': 4990,
 'original': 3610,
 'exclusive': 1901,
 'face': 1991,
 'challenges': 851,
 'market': 3164,
 'expanding': 1926,
 'technology': 5148,
 'member': 3226,
 'play': 3820,
 'role': 4451,
 'features': 2037,
 'from': 2201,
 'ground': 2349,
 'up': 5457,
 'mobile': 3309,
 'builder': 717,
 'tools': 5280,
 'infrastructure': 2662,
 'horizontal': 2488,
 'devices': 1461,
 'maad': 3094,
 'within': 5684,
 'owns': 3652,
 'developer': 1453,
 'living': 3043,
 'room': 4461,
 'clients': 920,
 'looking': 3064,
 'lead': 2966,
 'device': 1460,
 'reporting': 4341,
 'analytics': 310,
 'continuous': 1165,
 'delivery': 1381,
 'focused': 2133,
 'client': 919,
 'who': 5655,
 'apps': 365,
 'cater': 814,
 'kindle': 2896,
 'tablets': 5091,
 'fire': 2087,
 'tv': 5383,
 'ios': 2820,
 'android': 315,
 'daily': 1305,
 '200': 27,
 'territories': 5172,
 'around': 397,
 'relentlessly': 4295,
 'emphasize': 1730,
 'pride': 3948,
 'operational': 3562,
 'excellence': 1887,
 'intend': 2737,
 'stand': 4903,
 'end': 1757,
 'implementation': 2585,
 'automated': 476,
 'testing': 5178,
 'documentation': 1561,
 'deployment': 1408,
 'maintenance': 3117,
 'contributing': 1172,
 'respected': 4375,
 'culture': 1282,
 'meaningful': 3206,
 'while': 5650,
 'simultaneously': 4730,
 'investing': 2802,
 'career': 788,
 'skill': 4750,
 'managers': 3138,
 'their': 5188,
 'establishing': 1845,
 'vision': 5559,
 'roadmap': 4441,
 'called': 759,
 'embrace': 1726,
 'evolving': 1877,
 'see': 4603,
 'big': 607,
 'picture': 3791,
 'innovative': 2685,
 'identify': 2551,
 'realize': 4197,
 'opportunities': 3570,
 'positively': 3871,
 'impact': 2577,
 'where': 5646,
 'creativity': 1255,
 'drive': 1598,
 'can': 768,
 'lasting': 2945,
 'consumer': 1143,
 'entertainment': 1804,
 'strategy': 4956,
 'translate': 5334,
 'into': 2777,
 'achievable': 123,
 'road': 4440,
 'map': 3154,
 'action': 137,
 'plan': 3808,
 'architecture': 383,
 'which': 5649,
 'quickly': 4140,
 'understanding': 5418,
 'elements': 1708,
 'together': 5264,
 'approaches': 361,
 'fit': 2100,
 'incremental': 2629,
 'clear': 913,
 'expectations': 1932,
 'establish': 1843,
 'practices': 3894,
 'such': 5020,
 'departmental': 1398,
 'hiring': 2465,
 'mentoring': 3236,
 'enhancing': 1785,
 'maintaining': 3115,
 'come': 997,
 'linux': 3032,
 'passionate': 3701,
 'about': 82,
 'premier': 3917,
 'job': 2856,
 'kernel': 2888,
 'operating': 3560,
 'part': 3681,
 'ec2': 1653,
 'foundational': 2171,
 'core': 1206,
 'compute': 1070,
 'platforms': 3817,
 'special': 4842,
 'focus': 2132,
 'elastic': 1699,
 'basis': 542,
 'much': 3369,
 'think': 5205,
 'broadly': 697,
 'experiences': 1940,
 'running': 4479,
 'continually': 1159,
 'look': 3063,
 'ways': 5613,
 'improve': 2599,
 'reliability': 4299,
 'address': 161,
 'new': 3442,
 'functional': 2220,
 'needs': 3424,
 'also': 268,
 'associated': 431,
 'characterization': 864,
 'qualification': 4120,
 'refine': 4254,
 'they': 5202,
 'programs': 4025,
 'tasked': 5115,
 'equally': 1827,
 'comfortable': 1001,
 'small': 4767,
 'project': 4030,
 'well': 5635,
 'major': 3118,
 'direct': 1495,
 'contributions': 1174,
 'oversight': 3643,
 'adept': 166,
 'recruiting': 4236,
 'bar': 530,
 'raising': 4156,
 'talent': 5105,
 'baseline': 538,
 'individual': 2644,
 'entirely': 1809,
 'languages': 2937,
 'python': 4115,
 'java': 2847,
 'package': 3656,
 'version': 5531,
 'control': 1177,
 'unit': 5433,
 'must': 3388,
 'open': 3550,
 'source': 4823,
 'plus': 3835,
 'specific': 4846,
 'depth': 1411,
 'knowledge': 2908,
 'use': 5475,
 'internals': 2764,
 'including': 2614,
 'hypervisor': 2531,
 'required': 4351,
 'creates': 1249,
 'directly': 1499,
 'radically': 4149,
 'improving': 2604,
 'computers': 1073,
 'join': 2858,
 'treasure': 5347,
 'truck': 5365,
 'unique': 5431,
 'relying': 4308,
 'oh': 3532,
 'coolest': 1196,
 'thing': 5203,
 'chest': 881,
 'trucks': 5366,
 'interactive': 2748,
 'full': 2216,
 'treasures': 5348,
 'life': 3010,
 'delight': 1368,
 'doing': 1566,
 'diverse': 1545,
 'complete': 1048,
 'stack': 4893,
 'drives': 1602,
 'program': 4019,
 'loves': 3081,
 'solve': 4801,
 'likes': 3022,
 'built': 724,
 'relaxed': 4289,
 'promotes': 4040,
 'healthy': 2431,
 'believe': 579,
 'type': 5390,
 'spurs': 4883,
 'innovation': 2682,
 'currently': 1291,
 'self': 4618,
 'motivated': 3347,
 'll': 3044,
 'group': 2353,
 'facing': 2000,
 'someone': 4809,
 'collaborator': 977,
 'excellent': 1888,
 'both': 655,
 'verbal': 5524,
 'written': 5725,
 'used': 5476,
 'tradeoff': 5306,
 'decisions': 1341,
 'spidey': 4864,
 'sense': 4627,
 'leads': 2971,
 'more': 3339,
 'than': 5183,
 'not': 3471,
 'right': 4431,
 'inspires': 2704,
 'them': 5190,
 'hit': 2470,
 'apply': 355,
 'today': 5263,
 'let': 2992,
 'get': 2285,
 'conversation': 1187,
 'going': 2317,
 'learn': 2974,
 'reach': 4180,
 'imdb': 2568,
 'popular': 3856,
 'movie': 3360,
 'celebrity': 822,
 'reaching': 4182,
 'audience': 455,
 '250': 46,
 'million': 3278,
 'visitors': 5565,
 'per': 3741,
 'month': 3336,
 'professional': 4007,
 'division': 1549,
 'imdbpro': 2569,
 'withoutabox': 5686,
 'box': 664,
 'office': 3523,
 'mojo': 3322,
 'transforming': 5332,
 'widely': 5662,
 'professionals': 4009,
 'easily': 1645,
 'find': 2078,
 'information': 2660,
 'excel': 1886,
 'jobs': 2857,
 'presence': 3927,
 'online': 3543,
 'discover': 1513,
 'independent': 2634,
 'filmmakers': 2067,
 'distribute': 1539,
 'promote': 4038,
 'films': 2068,
 'worldwide': 5712,
 'fascinated': 2021,
 'would': 5716,
 'window': 5674,
 'hollywood': 2481,
 'inner': 2677,
 'workings': 5704,
 'do': 1555,
 'yourself': 5745,
 'indie': 2641,
 'yet': 5738,
 'diehard': 1475,
 'techie': 5137,
 'opportunity': 3571,
 'revolutionize': 4417,
 'informed': 2661,
 'stay': 4927,
 'connected': 1108,
 'discovered': 1515,
 'successful': 5017,
 'candidate': 770,
 'passion': 3700,
 'solving': 4806,
 'interesting': 2756,
 'matter': 3192,
 'debugging': 1336,
 'throughput': 5234,
 'threaded': 5223,
 'applications': 352,
 'wrangling': 5718,
 'heaps': 2432,
 'structured': 4983,
 'responsive': 4385,
 'adaptive': 153,
 'user': 5478,
 'interfaces': 2759,
 'bent': 592,
 'toward': 5294,
 'tech': 5135,
 'exposure': 1966,
 'businesses': 732,
 'global': 2303,
 'assurance': 435,
 'designers': 1425,
 'swift': 5072,
 'but': 734,
 'result': 4391,
 'significant': 4710,
 'individuals': 2645,
 'start': 4911,
 'economics': 1663,
 'retail': 4395,
 'spaces': 4830,
 'machine': 3099,
 'learning': 2977,
 'analytical': 309,
 'finance': 2073,
 'other': 3617,
 'dev': 1449,
 'executives': 1909,
 'flagship': 2108,
 'love': 3079,
 'ideal': 2545,
 'programming': 4024,
 'established': 1844,
 'large': 2939,
 'sets': 4653,
 'pipelines': 3800,
 'since': 4731,
 'opening': 3553,
 'july': 2872,
 '1995': 22,
 'operate': 3557,
 'websites': 5629,
 'countries': 1226,
 'geographies': 2281,
 'offering': 3520,
 'many': 3153,
 'categories': 812,
 'books': 645,
 'media': 3217,
 'digital': 1488,
 'electronics': 1704,
 'etc': 1851,
 'still': 4937,
 'com': 988,
 'brand': 670,
 'synonymous': 5079,
 'superior': 5033,
 'convenience': 1183,
 'selection': 4617,
 'prices': 3946,
 'fulfillment': 2213,
 'network': 3434,
 'merchant': 3243,
 'geography': 2282,
 'ship': 4676,
 'order': 3592,
 'place': 3803,
 'earth': 1640,
 'variety': 5510,
 'acquire': 128,
 'warehouses': 5600,
 'location': 3054,
 'several': 4656,
 'intermediate': 2761,
 'locations': 3055,
 'travels': 5345,
 'before': 564,
 'packages': 3657,
 'attributes': 451,
 'what': 5641,
 'dense': 1396,
 'graph': 2335,
 'destination': 1434,
 'nodes': 3461,
 'arcs': 386,
 'between': 601,
 'representing': 4345,
 'possible': 3877,
 'paths': 3711,
 'costs': 1220,
 'times': 5253,
 'along': 265,
 'arc': 376,
 'accounting': 118,
 'constraints': 1133,
 'maximizing': 3196,
 'number': 3484,
 'shipments': 4678,
 'shipped': 4680,
 'minimizing': 3290,
 'cost': 1218,
 'providing': 4077,
 'options': 3583,
 'transportation': 5343,
 'primary': 3951,
 'financial': 2075,
 'tfs': 5182,
 'perform': 3745,
 'expansion': 1927,
 'provide': 4072,
 'invoice': 2809,
 'creation': 1251,
 'expense': 1937,
 'auditing': 461,
 'payments': 3725,
 'allocation': 258,
 'functions': 2224,
 'reconcile': 4227,
 'dollar': 1567,
 'zero': 5751,
 'manual': 3148,
 'entries': 1818,
 'corrections': 1214,
 'suite': 5024,
 'freight': 2188,
 'modes': 3318,
 'touching': 5290,
 'single': 4732,
 'movement': 3357,
 'abstract': 88,
 'logistics': 3060,
 'complexities': 1052,
 'ample': 302,
 'domain': 1569,
 'expertise': 1949,
 'embarked': 1721,
 'journey': 2862,
 'next': 3449,
 'challeging': 848,
 'deep': 1349,
 'insights': 2696,
 'efficient': 1687,
 'resource': 4371,
 'utilization': 5489,
 'prioritization': 3964,
 'auto': 474,
 'resolution': 4366,
 'disputes': 1529,
 'enthusiastic': 1806,
 'guarantee': 2362,
 'transaction': 5321,
 'accuracy': 120,
 'freetime': 2186,
 'brings': 692,
 'types': 5391,
 'kids': 2894,
 'parents': 3680,
 'games': 2249,
 'educational': 1678,
 'videos': 5545,
 'provides': 4076,
 'peace': 3732,
 'mind': 3282,
 'parental': 3679,
 'controls': 1182,
 'choose': 889,
 'thousands': 5221,
 'titles': 5260,
 'age': 216,
 'appropriate': 362,
 'here': 2448,
 'https': 2511,
 'www': 5729,
 'freetimeas': 2187,
 'families': 2014,
 'gained': 2243,
 'acclaim': 106,
 'won': 5690,
 'prestigious': 3937,
 'kapi': 2881,
 'award': 497,
 'hardware': 2405,
 'ces': 842,
 '2013': 34,
 'launching': 2957,
 'benefits': 591,
 'creative': 1252,
 'entrepreneurial': 1816,
 'center': 825,
 'http': 2510,
 'scaling': 4533,
 'ambitious': 293,
 'array': 398,
 'domains': 1570,
 'amazing': 274,
 'energetic': 1763,
 'share': 4663,
 'sophisticated': 4815,
 'include': 2612,
 'writing': 5724,
 'solid': 4798,
 'creatively': 1253,
 'leverage': 2999,
 'existing': 1920,
 'apis': 339,
 'dayworking': 1324,
 'inspired': 2703,
 'invention': 2792,
 'problem': 3975,
 'teamwork': 5133,
 'dna': 1553,
 'idea': 2544,
 'seeing': 4604,
 'impacts': 2581,
 'bigger': 610,
 'answer': 324,
 'yes': 5737,
 'doers': 1563,
 'passionately': 3702,
 'cutting': 1301,
 'edge': 1671,
 'advances': 192,
 'robotics': 4445,
 'transform': 5329,
 'even': 1865,
 'imagine': 2564,
 'versatile': 5529,
 'curious': 1287,
 'ready': 4192,
 'robot': 4443,
 'top': 5282,
 'notch': 3472,
 'research': 4357,
 'scientists': 4549,
 'production': 3997,
 'pioneering': 3797,
 'something': 4810,
 'talk': 5107,
 'relevant': 4298,
 'workflows': 5701,
 'automates': 477,
 'booking': 644,
 'india': 2638,
 'launches': 2956,
 'typically': 5394,
 'scope': 4551,
 'account': 115,
 'event': 1866,
 'starts': 4916,
 'post': 3878,
 'collection': 982,
 'money': 3331,
 'transactions': 5323,
 'collected': 980,
 'internally': 2763,
 'driving': 1603,
 'fintech': 2086,
 'automation': 482,
 'builds': 723,
 'requires': 4354,
 'systetms': 5087,
 'same': 4502,
 'configuration': 1099,
 'various': 5511,
 'enabling': 1748,
 'launch': 2954,
 'could': 1221,
 'persisted': 3759,
 'onto': 3546,
 'performing': 3750,
 'monitor': 3332,
 'optimize': 3578,
 'fulfilment': 2215,
 'fee': 2039,
 'taxes': 5120,
 'marketplace': 3167,
 'robust': 4447,
 'span': 4833,
 'realms': 4202,
 'starter': 4913,
 'learner': 2976,
 'available': 491,
 'motivation': 3350,
 'dynamic': 1624,
 'ever': 1869,
 'ordered': 3593,
 'been': 563,
 'amazed': 273,
 'gets': 2286,
 'decrease': 1344,
 'click': 916,
 'aft': 212,
 'powers': 3889,
 'innovating': 2681,
 'areas': 390,
 'material': 3184,
 'parallel': 3674,
 'continuously': 1166,
 'techniques': 5142,
 'lean': 2972,
 'six': 4743,
 'sigma': 4706,
 'kaizen': 2879,
 'fundamental': 2226,
 'catalog': 806,
 'inventory': 2797,
 'labor': 2925,
 'underlie': 5412,
 ...}

In [42]:
check = vect.transform(A_jobs_df['DESCRIPTION']).toarray()

In [43]:
check = pd.DataFrame(check)

In [44]:
check.tail()

,0,1,2,3,4,5,6,7,8,9,...,5744,5745,5746,5747,5748,5749,5750,5751,5752,5753
926,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
927,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
928,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
929,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
check['y'] = A_jobs_df['category']

In [46]:
check.tail()

,0,1,2,3,4,5,6,7,8,9,...,5745,5746,5747,5748,5749,5750,5751,5752,5753,y
926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
927,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
928,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
929,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [67]:
le = LabelEncoder()

y_train = le.fit_transform(check['y'])
X_train = check.drop("y",axis=1)

print("Start1")
model_1 = lgb.LGBMClassifier(nthread=3)
scores_1 = cross_val_score(estimator=model_1, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_1.mean(), scores_1.std() * 2), '-> None')
print("End")
print(" ")

print("Start2")
model_2 = lgb.LGBMClassifier(nthread=3, reg_alpha=0.5)
scores_2 = cross_val_score(estimator=model_2, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_2.mean(), scores_2.std() * 2), '-> reg_alpha=0.5')
print("End")
print(" ")

print("Start3")
model_3 = lgb.LGBMClassifier(nthread=3, reg_alpha=1)
scores_3 = cross_val_score(estimator=model_3, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_3.mean(), scores_3.std() * 2), '-> reg_alpha=1')
print("End")
print(" ")

print("Start4")
model_4 = lgb.LGBMClassifier(nthread=3, reg_alpha=0.5, learning_rate=0.05, n_estimator=200)
scores_4 = cross_val_score(estimator=model_4, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_4.mean(), scores_4.std() * 2), '-> reg_alpha=0.5, l_r=0.05, n_estimator=200')
print("End")
print(" ")

print("Start5")
model_5 = lgb.LGBMClassifier(nthread=3, reg_alpha=1, learning_rate=0.05, n_estimator=300)
scores_5 = cross_val_score(estimator=model_5, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_5.mean(), scores_5.std() * 2), '-> reg_alpha=1, l_r=0.05, n_estimator=300')
print("End")
print(" ")

print("Trial_Error")
model_6 = lgb.LGBMClassifier(nthread=3, n_estimators=200)
scores_6 = cross_val_score(estimator=model_6, X=X_train, y=y_train, cv=4, scoring='neg_log_loss')
print("log_loss: %0.2f (%0.2f)" % (scores_6.mean(), scores_6.std() * 2), '-> n_estimator=200')
print("End")
print(" ")

Start1
log_loss: -0.64 (0.15) -> None
End

Start2
log_loss: -0.53 (0.11) -> reg_alpha=0.5
End

Start3
log_loss: -0.51 (0.11) -> reg_alpha=1
End

Start4
log_loss: -0.48 (0.08) -> reg_alpha=0.5, l_r=0.05, n_estimator=200
End

Start5
log_loss: -0.48 (0.08) -> reg_alpha=1, l_r=0.05, n_estimator=300
End

Trial_Error
log_loss: -0.97 (0.30) -> n_estimator=200
End

In [60]:
model_lgb = lgb.LGBMClassifier(nthread=3, n_estimators=200)

In [61]:
model_lgb.fit(check.drop("y",axis=1), check['y'])

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        learning_rate=0.1, max_depth=-1, min_child_samples=20,
        min_child_weight=0.001, min_split_gain=0.0, n_estimators=200,
        n_jobs=-1, nthread=3, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=1)

In [62]:
y_pred_l = model_lgb.predict(check.drop("y",axis=1))

In [63]:
confusion_matrix(check['y'], y_pred_l)

array([[121,   1,   0],
       [  1, 689,   5],
       [  0,  14, 100]])

In [64]:
print(classification_report(check['y'], y_pred_l))

             precision    recall  f1-score   support

          1       0.99      0.99      0.99       122
          2       0.98      0.99      0.98       695
         95       0.95      0.88      0.91       114

avg / total       0.98      0.98      0.98       931

In [65]:
accuracy_score(check['y'], y_pred_l)

0.9774436090225563

다른 columns 추가 분석 필요

In [ ]:
vect = CountVectorizer()
vect.fit(A_jobs_df[''])
vect.vocabulary_